/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
font-family: "Open Sans", sans-serif;
color: #444444;
}

a {
color: #1bac91;
}

a:hover {
color: #22d8b6;
text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
position: fixed;
display: none;
width: 40px;
height: 40px;
border-radius: 3px;
right: 15px;
bottom: 15px;
background: #1bac91;
color: #fff;
transition: display 0.5s ease-in-out;
z-index: 99999;
}

.back-to-top i {
font-size: 24px;
position: absolute;
top: 8px;
left: 8px;
}

.back-to-top:hover {
color: #fff;
background: #18967e;
transition: background 0.2s ease-in-out;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
height: 72px;
transition: all 0.5s;
z-index: 997;
transition: all 0.5s;
padding: 15px 0;
background: rgb(224, 224, 224);
}

#header .logo h1 {
font-size: 30px;
margin: 0;
padding: 6px 0;
line-height: 1;
font-weight: 700;
letter-spacing: 2px;
text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
color: #fff;
display: flex;
-webkit-box-align: center;
align-items: center;
width: 100%;
height: 100%;
-webkit-box-pack: center;
justify-content: center;
}

#header .logo {
    background-color: #fff;
    border-radius: 10px;
    width: 150px;
    height: 120px;
    box-shadow: 3px 3px 3px grey;
    margin-right: 60px;
}

#header .logo img {
width: 80%;
height: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
display: block;
}

@media (max-width: 992px) {
#header {
    height: 60px;
    padding: 8px 0;
}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: rgba(8, 8, 8, 0.8);
    padding: 8px 0 12px 0;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li + li {
    margin-left: 30px;
}

.nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
    background-color: #b32222;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: rgba(8, 8, 8, 0.8);
}

.nav-menu .drop-down ul {
display: block;
position: absolute;
left: 0;
top: 100%;
z-index: 99;
opacity: 0;
visibility: hidden;
padding: 10px 0;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
opacity: 1;
visibility: visible;
}

.nav-menu .drop-down li {
min-width: 180px;
position: relative;
}

.nav-menu .drop-down ul a {
padding: 10px 20px;
font-size: 14px;
font-weight: 500;
text-transform: none;
color: #062822;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
color: #662e2e;
}

.nav-menu .drop-down > a:after {
content: "\ea99";
font-family: IcoFont;
padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
top: 0;
left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
opacity: 1;
top: 0;
left: 100%;
}

.nav-menu .drop-down .drop-down > a {
padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
content: "\eaa0";
font-family: IcoFont;
position: absolute;
right: 15px;
}

@media (max-width: 1366px) {
.nav-menu .drop-down .drop-down ul {
    left: -90%;
}
.nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
}
.nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
}
}

/* Mobile Navigation */
.mobile-nav-toggle {
position: fixed;
right: 15px;
top: 15px;
z-index: 9998;
border: 0;
background: none;
font-size: 24px;
transition: all 0.4s;
outline: none !important;
line-height: 1;
cursor: pointer;
text-align: right;
}

.mobile-nav-toggle i {
color: #fff;
}

.mobile-nav {
position: fixed;
top: 55px;
right: 15px;
bottom: 15px;
left: 15px;
z-index: 9999;
overflow-y: auto;
background: #fff;
transition: ease-in-out 0.2s;
opacity: 0;
visibility: hidden;
border-radius: 10px;
padding: 10px 0;
}

.mobile-nav * {
margin: 0;
padding: 0;
list-style: none;
}

.mobile-nav a {
display: block;
position: relative;
color: #21413c;
padding: 10px 20px;
font-weight: 500;
outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
color: #1bac91;
text-decoration: none;
}

.mobile-nav .drop-down > a:after {
content: "\ea99";
font-family: IcoFont;
padding-left: 10px;
position: absolute;
right: 15px;
}

.mobile-nav .active.drop-down > a:after {
content: "\eaa1";
}

.mobile-nav .drop-down > a {
padding-right: 35px;
}

.mobile-nav .drop-down ul {
display: none;
overflow: hidden;
}

.mobile-nav .drop-down li {
padding-left: 20px;
}

.mobile-nav-overly {
width: 100%;
height: 100%;
z-index: 9997;
top: 0;
left: 0;
position: fixed;
background: rgba(16, 31, 29, 0.6);
overflow: hidden;
display: none;
transition: ease-in-out 0.2s;
}

.mobile-nav-active {
overflow: hidden;
}

.mobile-nav-active .mobile-nav {
opacity: 1;
visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: calc(100vh - 72px);
    background: url("../images/pic01.jpg") center center;
    background-size: cover;
    position: relative;
    margin-top: 72px;
    padding: 0;
}

#hero-product {
    width: 100%;
    height: calc(50vh - 72px);
    background: url("../images/productpage/car01.jpg") center center;
    background-size: cover;
    position: relative;
    margin-top: 72px;
    margin-bottom: 20px;
    padding: 0;
}

#hero:before {
content: "";
background: rgba(0, 0, 0, 0.4);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

#hero .container {
z-index: 2;
}

#hero h1 {
margin: 0 0 10px 0;
font-size: 48px;
font-weight: 700;
line-height: 56px;
color: #fff;
}

#hero h2 {
color: rgba(255, 255, 255, 0.7);
margin-bottom: 35px;
font-size: 24px;
}

#hero .btn-get-started {
font-family: "Raleway", sans-serif;
text-transform: uppercase;
font-weight: 500;
font-size: 16px;
letter-spacing: 1px;
display: inline-block;
padding: 8px 28px;
border-radius: 4px;
transition: 0.5s;
border: 2px solid #fff;
color: #fff;
}

#hero .btn-get-started:hover {
border-color: #1bac91;
background: #1bac91;
}

@media (min-width: 1024px) {
#hero {
    background-attachment: fixed;
}
}

@media (max-width: 992px) {
#hero {
    margin-top: 60px;
    height: calc(100vh - 60px);
}
}

@media (max-width: 768px) {
#hero h1 {
    font-size: 28px;
    line-height: 36px;
}
#hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
padding: 60px 0;
overflow: hidden;
}

.section-bg {
background-color: #f2f9f8;
}

.section-title {
padding-bottom: 40px;
text-align: left;
}

.section-title h2 {
font-size: 40px;
font-weight: 300;
margin-bottom: 20px;
padding-bottom: 0;
color: #252525;
}

.section-title span {
    font-size: 16px;
    font-family: Tahoma, Arial, sans-serif;
    padding: 10px;
    color: #666666;
}

.section-title p {
margin-bottom: 0;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features .nav-tabs {
border: 0;
}

.features .nav-link {
border: 0;
padding: 20px;
transition: 0.3s;
color: #080808;
}

.features .nav-link:hover {
color: #db2727;
}

.features .nav-link h4 {
font-size: 18px;
font-weight: 600;
}

.features .nav-link p {
font-size: 14px;
margin-bottom: 0;
}

.features .nav-link.active {
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
}

.features .nav-link.active h4 {
color: #da2020;
}

.features .tab-pane.active {
-webkit-animation: slide-down 0.5s ease-out;
animation: slide-down 0.5s ease-out;
}

@-webkit-keyframes slide-down {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

@keyframes slide-down {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
padding: 30px;
position: relative;
overflow: hidden;
margin: 0;
background: #fff;
transition: all 0.3s ease-in-out;
border-radius: 15px;
text-align: center;
border-bottom: 3px solid #fff;
}

.services .icon-box:hover {
box-shadow: 0 2px 29px 0 rgba(37, 37, 37, 0.1);
}

.services .icon i {
background-image: url(../images/service1.png);
line-height: 1;
margin-bottom: 15px;
}

.services .title {
font-weight: 700;
margin-bottom: 15px;
font-size: 18px;
}

.services .title a {
color: #111;
}

.services .description {
font-size: 15px;
line-height: 28px;
margin-bottom: 0;
}

.services .icon-box-pink .icon i {
color: #ff689b;
}

.services .icon-box-cyan .icon i {
color: #3fcdc7;
}

.services .icon-box-green .icon i {
color: #41cf2e;
}

.services .icon-box-blue .icon i {
color: #2282ff;
}

.services .col-one-car {
    height: 300px;
}

.services .row-img img {
    width: 277px;
    height: 115px;
}

.services .row-info .title{
    font-size: 20px;
    color: #f06161;
}

.services .row-info .price{
    font-size: 20px;
    color: #666666;
}

.services .row-info li {
    font-size: 12px;
    color: #666666;
}

.services .row-1{
    margin-top: 15px;
}

.services .img-mg{
    margin-right: 15px;
}

.services .img-rev {
    width: 100%;
    height: 100%;
}

.service-guarantee {
    margin-bottom: 15px;
}

/*--------------------------
# Contact and Find Service
---------------------------*/

#select-service {
    border: 1px solid grey;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

#contact-name, #contact-content,
#contact-email, #contact-phone {
    border: 1px solid grey;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

#contact-submit {
    position: relative;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 6px 20px;
    background: #d14141;
    color: #fff;
    transition: 0.3s;
    border-radius: 4px 4px 4px 4px;
    justify-content: center;
}
    
#contact-submit:hover {
    background: #4b4848;
    box-shadow: 3px 3px 3px grey;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

#footer .footer-top {
    background: #0c1817;
    border-bottom: 1px solid #18302c;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
font-size: 24px;
margin: 0 0 20px 0;
padding: 2px 0 2px 0;
line-height: 1;
font-weight: 700;
}

#footer .footer-top .footer-info p {
font-size: 14px;
line-height: 24px;
margin-bottom: 0;
font-family: "Raleway", sans-serif;
color: #fff;
}

#footer .footer-top h4 {
font-size: 16px;
font-weight: 600;
color: #fff;
position: relative;
padding-bottom: 12px;
}

#footer .footer-top .footer-links {
margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
list-style: none;
padding: 0;
margin: 0;
}

#footer .footer-top .footer-links ul i {
padding-right: 2px;
color: #4ae3c6;
font-size: 18px;
line-height: 1;
}

#footer .footer-top .footer-links ul li {
padding: 10px 0;
display: flex;
align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
padding-top: 0;
}

#footer .footer-top .footer-links ul a {
color: #fff;
transition: 0.3s;
display: inline-block;
line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
color: #34dfbf;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
    border: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

#footer .footer-top .footer-newsletter form input[type="text"] {
    border: 0;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
position: relative;
border: 0;
background: none;
font-size: 16px;
padding: 6px 20px;
background: #d14141;
color: #fff;
transition: 0.3s;
border-radius: 4px 4px 4px 4px;
justify-content: center;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
background: #4b4848;
box-shadow: 3px 3px 3px grey;
}

#footer .copyright {
text-align: center;
padding-top: 30px;
}

#footer .credits {
padding-top: 10px;
text-align: center;
font-size: 13px;
color: #fff;
}

/* Additional css */

.bg-light-gray {
background-color: #ebe8e8;
}

.line{
    width: 80%;
    height: 0px;
    border-bottom: 2px solid rgb(211, 24, 24);
    margin-bottom: 20px;
    position: relative;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

/* ==================================

Vertical Navbar

===================================== */

.nav-product .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
.nav-product .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}
    
.nav-product .nav-menu a {
    position: relative;
    width: 200px;
    border: 1px solid grey;
    background: none;
    font-size: 16px;
    padding: 6px 20px;
    background: #ffffff;
    transition: 0.3s;
    border-radius: 4px 4px 4px 4px;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}
    
.nav-product .nav-menu > ul > li + li {
margin-left: 30px;
}

.nav-product .nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
    background-color: #b32222;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-product .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 100%;
}

.nav-product .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: rgba(8, 8, 8, 0.8);
}

.nav-product .nav-menu .drop-down ul {
display: block;
position: absolute;
left: 0;
top: 100%;
z-index: 99;
opacity: 0;
visibility: hidden;
padding: 10px 0;
background: #fff;
box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
transition: ease all 0.3s;
}

.nav-product .nav-menu .drop-down:hover > ul {
opacity: 1;
visibility: visible;
}

.nav-product .nav-menu .drop-down li {
min-width: 180px;
position: relative;
}

.nav-product .nav-menu .drop-down ul a {
padding: 10px 20px;
font-size: 14px;
font-weight: 500;
text-transform: none;
color: #062822;
}

.nav-product .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
color: #662e2e;
}

.nav-product .nav-menu .drop-down > a:after {
content: "\ea99";
font-family: IcoFont;
padding-left: 5px;
}

.nav-product .nav-menu .drop-down .drop-down ul {
top: 0;
left: calc(100% - 30px);
}

.nav-product .nav-menu .drop-down .drop-down:hover > ul {
opacity: 1;
top: 0;
left: 100%;
}

.nav-product .nav-menu .drop-down .drop-down > a {
padding-right: 35px;
}

.nav-product .nav-menu .drop-down .drop-down > a:after {
content: "\eaa0";
font-family: IcoFont;
position: absolute;
right: 15px;
}

@media (max-width: 1366px) {
.nav-product .nav-menu .drop-down .drop-down ul {
    left: -90%;
}
.nav-product .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
}
.nav-product .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
}
}

.services .icon-box-car {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    background: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    text-align: left;
    border-bottom: 3px solid #fff;
}

.services .icon-box-car:hover {
    box-shadow: 0 2px 29px 0 rgba(34, 33, 33, 0.1);
}

.services .icon-box-car h3 {
    padding: 10px 0 0 10px;
    font-size: 20px;
    color: rgb(226, 60, 60);
}

.services .icon-box-car p {
    padding: 10px 0 0 10px;
    font-size: 20px;
    color: rgb(8, 8, 8);
}

.img-car {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: auto;
}

/*

    Các dòng xe section

*/

.car-type-select a {
    color: rgba(8, 8, 8, 0.8);
    transition: 0.3s;
    font-size: 1.25em;
    font-family: "Open Sans", sans-serif;
}

.car-type-select a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 3px;
    left: 0;
    background-color: #b32222;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.car-type-select a:hover:before {
    visibility: visible;
    width: 100%;
}

.car-type-select a:hover, .car-type-select .active > a{
    color: rgba(8, 8, 8, 0.8);
}

/*

    Tất cả các phiên bản xe

*/

.btn-drop-car-filter {
    border: 2px solid grey;
    background-color: #fff;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

.btn-drop-car-filter:hover {
    border: 2px solid grey;
    border-width: 100%;
    background-color: rgb(219, 130, 130);
    color:rgb(8, 8, 8);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

#hatchback h4, #sedan h4, #suv h4, #dadung h4, #thuongmai h4, #bantai h4 {
    color: #e62b2b;
}
